<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="PUT" allowed="true" />
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="HEAD" allowed="true" />
                    <add verb="OPTIONS" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
